openapi: 3.0.0
info:
  title: Student API
  description: API contract demo for Day 16
  version: 1.0.0

servers:
  - url: http://localhost:3000

paths:
  /students:
    get:
      summary: Get all students
      responses:
        '200':
          description: List of students
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Student'

    post:
      summary: Add a new student
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Student'
      responses:
        '201':
          description: Student created successfully

components:
  schemas:
    Student:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: Pujasmruti
        course:
          type: string
          example: MCA
